body {
  font-family: 'Nunito', sans-serif;
}

.navbar {
  margin-bottom: 0;
}

.featured-section {
  height: 450px;
  color: #fff;
}

#featured-post {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

#featured-title {
  margin: 0;
}

#featured-details {
  text-transform: uppercase;
}

/* Categories for selection of featured background color. */
#life {
  background-color: #75ff9e;
}

#technology {
  background-color: #75aaff;
}

#web-development {
  background-color: #fff875;
}

#games {
  background-color: #ff75ec;
}
