body {
  font-family: 'Nunito', sans-serif;
}

.navbar {
  margin-bottom: 0;
}

.fa-gamepad {
  margin-bottom: 40px;
}

#featured-post {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  color: #fff;
  text-align: center;
}

#featured-post i {
  font-size: 15em;
}

#featured-title {
  margin: 0;
}

#featured-details {
  margin-bottom: 0;
  text-transform: uppercase;
}

#featured-icon {
  margin: 20px 0;
}

/* Categories for selection of featured background color. */
#life {
  background-color: #75ff9e;
}

#technology {
  background-color: #75aaff;
}

#web-development {
  background-color: #e2e241;
}

#games {
  background-color: #ff75ec;
}
