{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block title_post %}
{% endblock %}

{% block body_block %}
<div class="container plain-anchors">
  {% if category_missing %}
  <!-- The given category does not exist -->
  <div id="archive-header">
    <h2>That Category Does Not Exist</h2>
  </div>
  {% else %}
  <!-- Page Information -->
  <div id="archive-header">
    <h2>
      {% if not category %}
      Blog
      {% else %}
      {{ archived_posts.object_list.first.category.name }}
      {% endif %}
      Archive
    </h2>
    <h4>
      Showing Page {{ archived_posts.number }} of
      {{ archived_posts.paginator.num_pages }}
    </h4>
  </div>

  <!-- Archived Post Pages -->
  <div class="row">
    {% for post in archived_posts %}
    <div class="col-md-4 col-sm-6">
      <a href="#">
        <div class="post-tab {{ post.category.slug }}-post">
          <div class="post-tab-title">
            <h4><strong>{{ post.title }}</strong></h4>
            <hr>
            <h5>{{ post.published_date.date }}</h5>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  <!-- Page Naviagtion -->
  <div class="archive-navigation">
    {% if archived_posts.has_next %}
    <a
    href="?page={{ archived_posts.next_page_number }}"
    class="btn btn-default">Older Posts</a>
    {% else %}
    <a href="#" class="btn btn-default" disabled>Older Posts</a>
    {% endif %}

    {% if archived_posts.has_previous %}
    <a
    href="?page={{ archived_posts.previous_page_number }}"
    class="btn btn-default">Newer Posts</a>
    {% else %}
    <a href="#" class="btn btn-default" disabled>Newer Posts</a>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}
